* {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

body {
    min-height: 25rem;
    width: 18.75rem;
    margin: 0.625rem;
}

.tt-vid-downloader__button {
    background: #4E9CAF;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    padding: 0.625rem;
    text-align: center;
}

.tt-vid-downloader__button:hover {
    color: #205461;
    cursor: pointer;
}

.clear-downloads {
    width: 100%;
}

.title {
    text-align: center;
}

li {
    float: left;
    list-style: none;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
}

a {
    padding: 10px 0;
    width: fit-content;
}

#download-link {
    display: block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

#list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.download-button {
    display: block;
    width: fit-content;
}

.spacer {
    border-bottom: 1px solid #eee;
}

.video-card {
    padding: 0.5rem;
    margin-block: 1rem;
    box-shadow: 0px 0px 10px -5px rgb(0 0 0 / 50%);
    border-radius: 0.5rem;
}

.video-card .video-card__thumbnail {
    max-height: 15rem;
}

.video-card .video-card__thumbnail > img {
    height: auto;
    width: auto;
    max-height: 15rem;
    max-width: 100%;
}

.video-card .video-card__actions {
    display: flex;
    justify-content: flex-end;
}
