altgraph==0.17.2
click==8.0.4
colorama==0.4.4
Flask==2.0.3
Flask-Cors==3.0.10
future==0.18.2
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
pefile==2022.5.30
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
pywin32-ctypes==0.2.0
six==1.16.0
Werkzeug==2.0.3
